{{partial "pageHeader"}}

<span class="jt76-underline h4">Api File Sample Project</span>

<button {{action "printPdf"}}
        {{bind-attr class=":btn :btn-success :btn-sm :jt76-padding-sides-sm :form-inline :pull-right"}}>
    <i class="fa fa-asterisk"></i>&nbsp;Print PDF
</button>

<div id="contentIframe">{{iframe}}</div>
