{{partial "pageHeader"}}

<p>
    TEST PROJECT ONE
</p>
<div>
    <button {{action "printPdf"}}
            {{bind-attr class=":btn :btn-success :btn-sm :jt76-padding-sides-sm :form-inline"}}>
        <i class="fa fa-asterisk"></i>&nbsp;Print PDF
    </button>
</div>



<div id="contentIframe" style="width:100%;height:100%">{{iframe}}</div>
