@dark-green: #4c5f70;
@dark: #1c2b36;
@link-blue: #396dd7;
@light-red: red;
@shadow: rgba(128, 128, 128, 0.91);


// Variables
@black: #000000;
@grey: #999999;
@light-grey: #e6e6e6;
@white: #FFFFFF;
@near-black: #030303;
@green: #51A351;
@red: #BD362F;
@blue: #2F96B4;
@orange: #F89406;

.jt76-modal-dialog {
    background-color:whitesmoke;
    border-radius: 10px;
    border-width: 5px;
    border-color: AppWorkspace;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    margin:50px;
    position:absolute;
    display:block;
    z-index:10000;
}

.jt76-brand-name{
    color:@dark;
    font-size:x-large;
}
.jt76-clickable-element{
    cursor:pointer;
}
.jt76-error{
    color:@red;
}
.jt76-hr-md{
    border-bottom: 2px solid @light-grey;
}
.jt76-multiline{
    white-space: pre-line !important;
}
.jt76-padding-sides-sm{
    padding-left:10px !important;
    padding-right:10px !important;
}
.jt76-padding-sides-md{
    padding-left:20px !important;
    padding-right:20px !important;
}
.jt76-padding-sides-lg{
    padding-left:40px !important;
    padding-right:40px !important;
}
.jt76-padding-sides-xlg{
    padding-left:60px !important;
    padding-right:60px !important;
}
.jt76-page-title{
    margin-top:-10px !important;
}
.jt76-title-link {
  font-weight: bold;
  text-shadow: 1px 1px 2px @shadow;
  color: @link-blue !important;
  cursor:pointer;
  text-decoration:underline;
}
.jt76-underline{
    text-decoration:underline;
}
.jt76-verticalLine {
    border-left: 1px solid @light-grey;
}
.jt76-bg-green{
    background-color: @green;
}
.jt76-read-more {
    height: 65px !important;
    cursor: pointer;
}
.jt76-is-expanded {
    height: 100% !important;
    white-space: pre-line !important;
}
.jt76-no-select{
    /*TODO use this in other css classes*/
    margin-bottom: 3px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*IMAGES*/
.jt76-loading-overlay {
    opacity: .9;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius:8px;
    background-color: whitesmoke;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2F0F0F0,endColorstr=#B2F0F0F0)"; /* IE8 */
    zoom: 1;
    background-image: url(../Content/Images/Jt76EmberBase/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
}



/*FORM AND INPUT OVERRIDES*/
input.ng-invalid, 
select.ng-invalid, 
textarea.ng-invalid{
  border: 1px solid @red;
}
a{
    cursor:pointer;
}
*::-webkit-input-placeholder {
  color: @light-grey !important;
  font-weight: 400;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: @light-grey !important;
  font-weight: 400;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: @light-grey !important;
  font-weight: 400;
}


/*BOOTSTRAP OVERRIDES*/
.btn{
    margin-bottom: 3px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-default:hover{
   background-position: 0 !important; 
   background-color: @light-grey !important;
}
.btn-default:focus {
   background-position: 0 !important; 
   background-color: @light-grey !important;
}
.pagination li a{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pagination li.active a, .pagination li.active a:hover, .pagination li.active a:focus {
    background: @light-grey !important;
    border-color: @grey !important;
}


/*SIMPLIFY OVERRIDES*/
.submenu > li > a.active{
    color:white !important;
    margin-left:6px;
}



/*VIEW ANIMATIONS*/
/*fade animation*/
.jt76-slow-fade-in {
    -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    -moz-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    -o-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    opacity: 1;
}
.jt76-slow-fade-out {
    -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    -moz-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    -o-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    opacity: 0;
}

/*shuffle animation*/
.jt76-slow-slide-in{
    position: relative;
    -moz-transition: 0.4s ease-out all;
    -o-transition: 0.4s ease-out all;
    -webkit-transition: 0.4s ease-out all;
    transition: 0.4s ease-out all;
    left: 0;
    opacity: 1;
}
.jt76-slow-slide-out{
    position: relative;
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    opacity: 0;
} 




/*FORMCONTROL ANIMATIONS*/
.jt76-visible {
    opacity: 1 !important;
    display:inline-block !important;
}
.jt76-hidden {
    opacity: 0 !important;
    display:none !important;
}
.jt76-quick-fade-in{
    -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    -moz-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    -o-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    opacity: 1;
    display:inline-block;
}
.jt76-quick-fade-out{
    -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    -moz-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    -o-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.4s;
    opacity: 0;
    display:none;

}