*::-webkit-input-placeholder {
  color: #e6e6e6 !important;
  font-weight: 400;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: #e6e6e6 !important;
  font-weight: 400;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: #e6e6e6 !important;
  font-weight: 400;
}
.jt76-brand-name {
  color: #1c2b36;
  font-size: x-large;
}
.jt76-clickable-element {
  cursor: pointer;
}
.jt76-error {
  color: #bd362f;
}
.jt76-hr-md {
  border-bottom: 2px solid #e6e6e6;
}
.jt76-multiline {
  white-space: pre-line;
}
.jt76-padding-sides-sm {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.jt76-padding-sides-md {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.jt76-padding-sides-lg {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.jt76-padding-sides-xlg {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
.jt76-page-title {
  margin-top: -10px !important;
}
.jt76-title-link {
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.91);
  color: #396dd7 !important;
  cursor: pointer;
}
.jt76-underline {
  text-decoration: underline;
}
.jt76-verticalLine {
  border-left: 1px solid #e6e6e6;
}
.jt76-loading-overlay {
  opacity: .9;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background-color: whitesmoke;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2F0F0F0,endColorstr=#B2F0F0F0)";
  /* IE8 */
  zoom: 1;
  background-image: url(../Content/Images/Jt76EmberBase/preloader.gif);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1000;
}
/*colors*/
.jt76-bg-green {
  background-color: #51a351;
}
input.ng-invalid,
select.ng-invalid,
textarea.ng-invalid {
  border: 1px solid #bd362f;
}
a {
  cursor: pointer;
}
.btn {
  margin-bottom: 3px !important;
}
.btn-default:hover {
  background-position: 0 !important;
  background-color: #e6e6e6 !important;
}
.btn-default:focus {
  background-position: 0 !important;
  background-color: #e6e6e6 !important;
}
.pagination li a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pagination li.active a,
.pagination li.active a:hover,
.pagination li.active a:focus {
  background: #e6e6e6 !important;
  border-color: #999999 !important;
}
/*fade animation*/
.jt76-loading-fade {
  opacity: 0;
}
.jt76-loaded-fade {
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.4s;
  -moz-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.4s;
  -o-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.4s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.4s;
  opacity: 1;
}
/*shuffle animation*/
.jt76-loading-slide {
  left: 2em;
  opacity: 0;
}
.jt76-loaded-slide {
  position: relative;
  -moz-transition: 0.4s ease-out all;
  -o-transition: 0.4s ease-out all;
  -webkit-transition: 0.4s ease-out all;
  transition: 0.4s ease-out all;
  left: 0;
  opacity: 1;
}
/*# sourceMappingURL=site.css.map */