@dark-green: #4c5f70;
@dark: #1c2b36;
@light-grey:#ddd;
@link-blue: #396dd7;
@light-red: red;
@shadow: rgba(128, 128, 128, 0.91);


// Variables
@black: #000000;
@grey: #999999;
@light-grey: #CCCCCC;
@white: #FFFFFF;
@near-black: #030303;
@green: #51A351;
@red: #BD362F;
@blue: #2F96B4;
@orange: #F89406;

*::-webkit-input-placeholder {
  color: @light-grey !important;
  font-weight: 400;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: @light-grey !important;
  font-weight: 400;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: @light-grey !important;
  font-weight: 400;
}

.jt76-body-background{
    //background-image: url("Images/Jt76EmberBase/background.png");
}

.jt76-app{
    //max-width: 1380px;
}

.jt76-brand-name{
    color:@dark;
    font-size:x-large;
}
.jt76-clickable-element{
    cursor:pointer;
}
.jt76-content-placeholder{
    min-height:600px;
}
.jt76-error{
    color:@red;
}
.jt76-hr-md{
    border-bottom: 2px solid @light-grey;
}
.jt76-multiline{
    white-space: pre-line;
}
.jt76-padding-sides-sm{
    padding-left:10px !important;
    padding-right:10px !important;
}
.jt76-padding-sides-md{
    padding-left:20px !important;
    padding-right:20px !important;
}
.jt76-padding-sides-lg{
    padding-left:40px !important;
    padding-right:40px !important;
}
.jt76-padding-sides-xlg{
    padding-left:60px !important;
    padding-right:60px !important;
}
.jt76-page-title{
    margin-top:0 !important;
}
.jt76-title-link {
  font-weight: bold;
  text-shadow: 1px 1px 2px @shadow;
  color: @link-blue !important;
  cursor:pointer;
}
.jt76-underline{
    text-decoration:underline;
}
.jt76-verticalLine {
    border-left: 1px solid @light-grey;
}


/*colors*/
.jt76-bg-green{
    background-color: @green;
}



//forms and inputs
input.ng-invalid, 
select.ng-invalid, 
textarea.ng-invalid{
  border: 1px solid @red;
}

a{
    cursor:pointer;
}




/*#region Angular ng-show dissolve animation */
.dissolve-animation.ng-hide-remove {
    display: inline!important;
}

.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

    .dissolve-animation.ng-hide-remove.ng-hide-remove-active,
    .dissolve-animation.ng-hide-add {
        opacity: 1;
    }

        .dissolve-animation.ng-hide-add.ng-hide-add-active,
        .dissolve-animation.ng-hide-remove {
            opacity: 0;
        }
/*#endregion */



/*#region Angular ng-include, ng-view, ng-repeat shuffle animations*/

.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: relative;
}

.shuffle-animation.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    opacity: 0;
}

    .shuffle-animation.ng-enter.ng-enter-active {
        left: 0;
        opacity: 1;
    }

.shuffle-animation.ng-leave {
    -moz-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    left: 0;
    opacity: 1;
}

    .shuffle-animation.ng-leave.ng-leave-active {
        left: 2em;
        opacity: 0;
    }
/*#endregion*/

/*#region Angular ng-include, ng-view, ng-repeat fader animation */
.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move {
    position: relative;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave {
    -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.3s;
    -moz-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.3s;
    -o-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.3s;
    transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.3s;
    opacity: 1;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active {
    opacity: 0;
}

    .fader-animation.ng-enter.ng-enter-active {
        opacity: 1;
    }

.fader-animation.ng-move {
  opacity:0.5;
}
.fader-animation.ng-move.ng-move-active {
  opacity:1;
}

/*#endregion*/




