@{
    ViewBag.Title = "Jt76Ember";
}

@* set the id to the rootelement in app.js *@

<div id="jt76emberbase-app" class="jt76-app center-block inbox-wrapper"></div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/markdown.js/0.6.0-beta1/markdown.min.js"></script>

@section Scripts
{
    @Scripts.Render("~/bundles/jt76EmberBase")
    @Scripts.Render("~/bundles/jt76EmberBase/templates")

    <script type="text/javascript">
        // Toggle Scroll to Top button
        $(window).scroll(function () {
            var position = $(window).scrollTop();
            if (position >= 200) {
                $(".scroll-to-top").addClass("active");
            }
            else {
                $(".scroll-to-top").removeClass("active");
            }
        });
    </script>
}
