{{page-header strPageTitle=strPageTitle strSubHeader=strSubHeader}}

<div class="inbox-body p-top-xs">
    <div class="sign-in-wrapper jt76-padding-sides-xlg">
        <hr class="jt76-hr-md" />
        This is an <span class="brand-name">Angular</span> base project. Built using MVC 5, Web Api 2.2, Entity Framework 6 wrapped in a Breeze service, and Simplify Admin - an incredibly powerful WrapBootstrap template.
        <br />
        <br />
        Although there are not many pages built into this website at this time. I hope to be able to include several create.js built video games, as well as a GeoGroup project. This GeoGroup project is being built to allow groups of people to get their own password required, dedicated Google Map showing each others positions. To top it off, each group will have their own dedicated message board. Just something to make 3 car journeys that much easier to handle, and it never hurts when playing a game of tag.
        <hr class="jt76-hr-md" />

        <br />

        <div class="user-widget">
            <div class="user-widget-body bg-light-grey border-info">
                <img alt="" src="/Content/Images/Jt76EmberBase/developer.jpg">
                <div class="user-detail">
                    <div class="m-top-sm">Jeremy Turner</div>
                    <div class="small-text text-success">Software Engineer</div>
                </div>
            </div>
            <div class="user-widget-statatistic">
                <ul class="clearfix">
                    <li class="border-red">
                        <div class="text-muted text-upper font-sm">C# Code</div>
                        ~35k lines
                    </li>
                    <li class="border-green">
                        <div class="text-muted text-upper font-sm">JavaScript Code</div>
                        ~20k lines
                    </li>
                    <li class="border-yellow">
                        <div class="text-muted text-upper font-sm">Production Apps</div>
                        3
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
