<footer class="footer">
    <span class="footer-brand">
        <strong class="text-danger">Jt76</strong> Base
    </span>
    <p class="no-margin">
        &copy; 2015 <strong>Jt76 Base</strong>. ALL Rights Reserved.
    </p>
</footer>