<div class="main-container jt76-content-placeholder">
    <div class="padding-md">
        <div class="row">

            <div id="jt76emberbase-dashboard"></div>
            <div id="jt76emberbase-projectOne"></div>
            <div id="jt76emberbase-projectTwo"></div>
            <div id="jt76emberbase-contact"></div>
            <div id="jt76emberbase-admin"></div>

        </div>
    </div>
</div>
