<div class="overlay" id="overlay" {{action "close"}}>
    <div class="pull-right text-success" {{action "close"}}><i class="fa fa-check-circle" style="font-size:50px;padding:8px;"></i></div>
</div>
<div class="jt76-modal-dialog">
    {{yield}}
</div>