<div class="row jt76-padding-sides-md">
    <div class="col-xs-9 col-sm-10 col-lg-10">
        <div class="page-title">
            {{strPageTitle}}
        </div>
        <div class="page-sub-header">{{strSubHeader}}</div>
    </div>
    <div class="text-right p-top-sm pull-right col-xs-3 col-sm-2 col-lg-2">
        <a href="#/dashboard" class="btn btn-default"><i class="fa fa-home"></i></a>
    </div>
</div>

<hr class="jt76-hr-md" />
