<div class="wrapper preload">

    {{view "topNav"}}
    {{view "sidebarMenu"}}
    {{view "mainContainer"}}
    {{view "footer"}}

</div>
<a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
